name: test-workflow

on:
  push:
    branches:
      - feature/feature-github-actions

jobs:
  build:
    name: Generate Tuist Project
    runs-on: macos-latest

    steps:
      # Repository Checkout.
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Mise.
        run: |
          curl https://mise.run | sh
          mise install

      - name: Install Tuist.
        run: |
          mise install tuist
          mise use -g tuist@system
          tuist version
      
      - name: Generate Tuist Project
        run: |
          tuist install
          tuist generate