name: test-workflow

on:
  push:
    branches:
      - feature/feature-github-actions

jobs:
  build:
    name: Generate Tuist Project
    runs-on: macos-latest

    steps:
      # Select Xcode 16.2
      - name: Select Xcode 16.2
        run: sudo xcode-select -s /Applications/Xcode_16.2.app

      # Repository Checkout.
      - name: Checkout Repository
        uses: actions/checkout@v4

      # Install Mise
      - name: Install Mise.
        run: |
          curl https://mise.run | sh
          mise install

      - name: Install Tuist.
        run: |
          mise install tuist

      - name: Check Tuist Version
        run: mise x -- tuist version
      
      - name: Generate Tuist Project
        run: |
          mise x -- make generate
      
      - name: Test CoreNetwork
        run : mise x -- tuist test CoreNetwork --platform iOS --device "iPhone 16 Pro" --os 18.1